.minHeight{
    min-height: calc(100vh - 86px - 88px);
}

.aboutPage, .eventPage, .teamPage, .contactPage{
    margin-top: 86px;
}

.aboutPage .facultyImg{
    height: 250px;
}

.teamPage .teamImg{
    height: 250px;
    /* width: 100%; */
}

.contactPage .links{
    color: var(--black)
}
.contactPage .link-cards{
    transition: .2s ease-in-out;
}

.contactPage .link-cards:hover{
    transform: translateY(-5px);
}

.contactPage .btn{
    background: var(--green);
    color: white;
}

.contactPage .btn:hover{
    border: 1px solid var(--green); 
}

.literaturePage .writings{
    transition: .2s ease-in-out;
}
.literaturePage .writings:hover{
    transform: translateY(-10px);
}

.eventPage .bgImg{
    background: url("../assets/images/bg/bg-event2.png") no-repeat center center;
    width: 100%;
    min-height: 30vh;
    color:white;
    position:absolute;
    filter: blur(3px);
}
.eventPage .heading{
    min-height: 30vh;
    color:white;
    position:relative;
}
.eventPage .card{
    transition: 0.2s ease-in-out;
}
.eventPage .card:hover{
    transform: translateY(-3px);
}