.language img {
    width: 70px;
    height: 70px;
    border-radius: 5px
}

.language p {
    color: var(--green);
}

.language {
    transition: 0.2s ease-in-out;
}

.language:hover {
    transform: translateY(-5px);
    color: var(--green);
}